/* app css stylesheet */

.menu {
  list-style: none;
  padding: 10px;
}
.top-navbar > ul {
  display: inline-block;
}
.menu > li {
  display: inline;
  margin: 5px;
}

.menu > li + li:before {
  padding-right: 0.3em;
}

.menu a{
  text-decoration: none;
  color: #000;
}
.menu button{
  border-radius: 20px;
}
.top-navbar .time-format{
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 10px;
}

.main{
  text-align: center;
  margin-top:80px;
}

.main .select-country {
  width: 300px;
  margin: 30px auto;
}

.clock-img{
  width: 50px;
  margin: 30px;
}